<!-- User Profile Display --> 
<div id="user-page">
	<!-- Displays anything from users table -->
	<h1> <%= @user.username %></h1>

	<%= @ingredients_recipes.each do |i| %>
		<h1><%= i.f2f_recipe_id %></h1>
		<img src="<%= i.f2f_img_url %>">
	<% end %>









</div>
