	<div id='modal'></div>
		<div id='recipe-list'>

			<div id='search'><%= link_to "Search", ingredients_recipes_index %>
				<input type="text" name='search' id='recipe-search'>
				<button class="search">Search</button>
				<div id='recipes'></div>
			</div>
		</div>

		<div id="goHere">
		</div>