<div class="">
  <article class="recipe col-sm-4">
    <h4>{{title}}</h4>
    <h3><img class="icon" src="{{image_url}}" alt="Icon"></h3>
    <h5>Social Ranking: {{social_rank}}</h5>

    <button class='view' data={{id}}>View</button>
  </article>
</div><!-- row -->
{{!-- recipe = service --}}