

    <div id="grid pins pin_show">
      <article class="recipe col-sm-4" id="pins pin_show">
        <h4>{{title}}</h4>
        <div><h3><img class="icon pin_image" src="{{image_url}}" alt="Icon"></h3></div>
        <h5>Social Ranking: {{social_rank}}</h5>

        <button class='view' data={{id}}>View</button>
      </article>
    </div><!-- row -->
