<div class="">
  <article class="recipe col-sm-4">
    <h3>{{title}}</h3>
    <h2><img class="icon" src="{{image_url}}" alt="Icon"></h2>
    <h3>Social Ranking: {{social_rank}}</h3>

    <button class='view' data={{id}}>View</button>
  </article>
</div><!-- row -->
{{!-- recipe = service --}}