
    <div class="grid col-md-3">
      <div class="grid-item recipe">
        <h4>{{title}}</h4>
        <div><h3><img class="icon grid-item" src="{{image_url}}" alt="Icon"></h3></div>
        <h5>Social Ranking: {{social_rank}}</h5>

        <button class='view' data={{id}}>View</button>
      </div>
    </div>
    </div><!-- row -->
