/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/

body{
  padding-top: 100px;
}
img {
  max-width: 200px;
}
.navbar {
  border-radius: 0;
  border: 0;
}



footer .navbar-default {
  background: transparent;
}

/*#movie-list section{
  font-size: 30px;
  float: left;
  width: 30%;
  text-align: center;
}*/
#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: inherit;
  background: rgba(0,0,0,.9);
  color: lightgrey;
  margin: 0 auto;
  text-align: center;
}

/*navbar*/
ul li {
  display: inline;
}
